.card {
    width: 300px; /* 실제 크기 조정 */
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-image: url('../assets/img/letter.png');
    background-size: contain;
    background-repeat: no-repeat;

    transform-origin: 75% 75%;

    transform: translateY(-200%);
}

textarea {
    width: calc(100% - 70px);
    color: #140b58;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;

    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;

    border: none;
    outline: none;

    background-color: transparent;
    resize: none;
}

.card-index {
    position: absolute;

    text-align: center;
    top: 85%;
    left: 0;
    right: 0;
    margin: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #140b58;
}

.card-instagram {
    display: flex;
    align-items: center;
    gap: 3px;

    position: absolute;
    top: 15.5%;
    left: 6%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

    text-align: center;
}

.card-instagram p {
    margin: 0;
    min-width: 22px;

    font-family: Arial, Helvetica, sans-serif;

    color: #726d9d;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
