.card {
    padding-bottom: 600px;

    width: 225px; /* 실제 크기 조정 */
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-image: url('../assets/img/letter.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-text {
    position: absolute;
    top: 15.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'GillSans-bold';

    font-size: 0.7rem;
    text-align: center;
}
.card-text p {
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-instagram {
    display: flex;
    align-items: center;
    gap: 4px;

    position: absolute;
    top: 25.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 0.6rem;
    text-align: center;
}

.card-instagram p {
    min-width: 24px;
    font-family: 'GillSans';
    color: gray;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
