/* Font */
@font-face {
    font-family: 'YoungBaroque';
    src: url('@/assets/font/YoungBaroqueStd.otf');
}

@font-face {
    font-family: 'TomatoGrotesk';
    src: url('@/assets/font/TomatoGrotesk-Black.otf');
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    font-family: TomatoGrotesk;
}

.contents {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 159 / 240;
    height: 100%;
}

#background-video {
    position: absolute;

    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
}

.title,
.description {
    color: white;
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}
