/* Font */
@font-face {
    font-family: 'YoungBaroque';
    src: url('@/assets/font/YoungBaroqueStd.otf');
}

@font-face {
    font-family: 'TomatoGrotesk';
    src: url('@/assets/font/TomatoGrotesk-Black.otf');
}

@font-face {
    font-family: 'GillSans Bold';
    src: url('@/assets/font/GillSans-Bold.otf');
}

@font-face {
    font-family: 'GillSans';
    src: url('@/assets/font/GillSans.otf');
}

h1 {
    font-size: 100px;
    text-shadow: 14px 14px 14px rgba(0, 0, 0, 0.24);
}
h1 > span {
    font-size: 144px;
}

h2 {
    font-size: 80px;
    text-shadow: 14px 14px 14px rgba(0, 0, 0, 0.24);
}

.App {
    width: 100vw;
    height: 100vh;

    font-family: TomatoGrotesk;
}

.contents {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1821 / 1024;
    width: 100%;

    overflow: hidden;

    cursor: pointer;
}

.contents:has(h1.title, h2.description) {
    background-color: #0000004d;
}

.c-text {
    position: absolute;
    top: 10%;

    font-size: 50px;

    font-family: TomatoGrotesk;
    color: white;
    font-style: italic;

    z-index: 0;
}

#background-video {
    position: absolute;

    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
}

.title,
.description {
    color: white;
    text-align: center;
}

.slide-in {
    animation: slideIn 1s forwards;
}

.slide-out {
    animation: slideOut 1s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(137%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-137%);
        opacity: 0;
    }
}
